@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #ffff;
  --text-color: #333333;
}

@theme inline {
  --color-background: var(--background-color);
  --color-foreground: var(--text-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --text-color: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Add smooth scrolling to the page */
html {
  scroll-behavior: smooth;
}
